// ctrl + shift + p watch sass
$primary: #005baf;
$grey: #52525b;
$between: 40px;
$margin: 25px;

// Grid

* {
    box-sizing: border-box;
}

.row {
    margin: 0px $margin;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 25px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

  
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

// Grid


body {
    margin: 0px;
    font-family: "Plus Jakarta Sans";
    font-size: medium;
}

a {
    color: $primary;
}

#header {
    text-align: center;
    padding: $between;
    h1 span {
        color: $primary;
    }
    p {
        color: $grey;
    }
}

#hero {
    [class*="col-"] {
        text-align: center;
    }
    [class*="col-"]:not(:last-child) {
        border-right: solid $grey 1px;
    }
    @media only screen and (max-width: 768px) {
        [class*="col-"]:not(:last-child) {
            border: none;
        }
    }
    table {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        display: table-cell;
        td:first-child {
            padding-right: 20px;
            border-right: dotted 2px $grey;
        }
        td:last-child {
            padding-left: 10px;
        }
    }
}