// ctrl + shift + p watch sass
$primary: #005baf;
$between: 40px;

body {
    margin: 0px;
    font-family: "Plus Jakarta Sans";
}

#header {
    text-align: center;
    padding: $between;
    h1 span {
        color: $primary;
    }
}